html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;
}

*,
*::after,
*::before {

    box-sizing: inherit;
}


a {
    /* берет цвет родителя - обычный черняй */
    color: currentColor;
}