.header {
  box-shadow: 0 0 2px 0 var(--bg-secondary-color);
  /*background-color: var(--bg-main-color); */
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}